h4 {
	margin-left: 80px;
	margin-bottom: -15px;
}

h1 {
	margin-left: 80px;
}

.div-dropdown {
	display: inline-block;
	width: 110px;
	margin-left: 80px;
	margin-right: 20px;
	padding-bottom: 40px;
}

.div-checklist {
	display: inline-block;
	width: 1000px;
	margin-top: 20px;
	margin-left: 80px;
}

.label-checklist {
	width: 140px;
	margin-bottom: 5px;
}

.div-graph {
}



.about {
	margin-left: 80px;
	margin-top: 50px;
}

@font-face {
	font-family: "Montserrat";
	src: url("montserrat/Montserrat-Regular.ttf") format("truetype");
}

* {
	font-family: "Montserrat", sans-serif;
}
